<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Assets/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {480, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 30}}</string>
			<key>sourceSize</key>
			<string>{480, 30}</string>
		</dict>
		<key>Assets/obj_bomb3_004@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 50}, {41, 55}}</string>
			<key>offset</key>
			<string>{2, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 2}, {41, 55}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>Assets/tallblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 1}, {23, 47}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 47}}</string>
			<key>sourceSize</key>
			<string>{23, 47}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Assets.png</string>
	</dict>
</dict>
</plist>
